@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Luckiest+Guy&family=Montserrat&family=Oswald:wght@500&family=Poppins:wght@300&family=Roboto&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    height:100vh;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:50px;
    /*left:640px;*/
    font-family: 'poppins';
    font-weight: 800;

}
label{
    
    cursor:pointer;
    margin-right:5px;
}
/*.label1
{
    color:rgb(0, 0, 0);
    margin:20px;
    font-weight: 500;
    position:absolute;
    top:380px;
    left:400px;
}
.label2
{
    color:rgb(0, 0, 0);
    margin:20px;
    font-weight: 500;
    position:absolute;
    top:450px;
    left:487px; 
}*/
/*.input2{
    position:absolute;
    top:500px;
    left:587px; 
}
input{
    margin:10px;
    outline:none;
    background: transparent;
    padding:3;
    border:1px solid transparent;
    border-bottom: 2px solid black;
}*/

input
{
    background:none;
    outline:none;
    border:none;
    border-bottom:2px solid black;
    margin-top:10px;
    transition: 2s;
    margin-right:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:300px;
    
}
.container
{
    background-image: url('Bubble_15113.png');
    /*margin-top: 20px;
    margin-bottom: 20px;*/
    height:100vh;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.button{
    background-color: rgb(93, 168, 168);
    outline:none;
    border:1px solid transparent;
    height: 30px;
    border-radius:5px;
    position:absolute;
    bottom:200px;
    left:530px;
    width:360px;
    transition: none;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    color:black;
    padding-top:4px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


}
.button:hover{
    background-color: orange;
    cursor: pointer;
}
@media (max-width:1080px) {
    .container
    {
        width:150%;
        height:100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
    }
    body
    {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .box
    {
        display:inherit;
        flex-direction: column;
        backdrop-filter: blur(20px);
        padding:15px;
        border-radius: 20px;
        width:300px;
    }
    input
    {
        margin-bottom:30px;
        width:auto;
    }
    h1{
        justify-content: center;
    align-items: center;
    position:absolute;
    top:50px;
    /*left:150px;*/
        font-family: 'poppins';
    
    }
    .button{
        left:-25px;
        right:0px;
        top:220px;
    }
}
